In [83]:
import pandas as pd
import numpy as np
import math
import json

In [84]:
data = pd.read_csv('data.csv', delimiter=', ')
data = data.drop(columns=[data.columns[0]])
df_day = pd.read_csv('context_day.csv', delimiter=', ')
df_day = df_day.drop(columns=[df_day.columns[0]])
df_place = pd.read_csv('context_place.csv', delimiter=', ')
df_place = df_place.drop(columns=[df_place.columns[0]])
users = data.index.tolist()
#т.к. удаляю столбец для более удобного форматирования данных, нумерация юзеров сдвигается на -1
my_user_number = 19
no_rate = -1
home = 'h'
saturday = 'Sat'
sunday = 'Sun'
print(data)

    Movie 1  Movie 2  Movie 3  Movie 4  Movie 5  Movie 6  Movie 7  Movie 8  \
0        -1        4        1        5       -1       -1       -1        1
1         4        5        2        3        3        4       -1        5
2         4        2        5        4        1        5       -1        3
3         5       -1        2       -1       -1        2        4        3
4         4        3        3        3        5        3        3        4
5         2       -1        3        3        3        3        4        2
6         4        1        4        4        1        4        5        2
7        -1        5        5        3        3        3        3        3
8         1        2        3        1        5        3        3        1
9         5       -1        1       -1        3        3        4        1
10       -1        5       -1        1        5        2        4        2
11        5        4        4       -1        3       -1        5        5
12        1        1        4        5        4        3        5        5
13        3        5        4       -1        1        2        4       -1
14        3        5        3        4        4       -1        4        4
15        3        3        5        3        2        2        5       -1
16        1        1       -1       -1        4        4       -1       -1
17        4        3        3        2        1        5        3        4
18        4        3        5        5        4        4       -1       -1
19        2       -1        2        5       -1       -1        1       -1
20       -1        2        1        2        3        5        4        1
21        2        4        4       -1        4       -1        4        5
22        5        1       -1        5        5       -1       -1        5
23        5        4        2       -1        2        1        3        2
24        3        1       -1        4        2       -1        4        1
25        1        5       -1        3       -1        2        4       -1
26        4        4        3       -1        4        5        3        4
27       -1       -1        4        2        3        2        1        4
28        3        2        4        2        2        2        4        1
29        2        3        5        4        1        3        3        2
30        3        5        4        5        1        3        3        3
31        5        4        5        4        1        5        5        4
32        5        3        4        4        2        1        3        1
33       -1        5       -1       -1        1       -1        5        1
34        4       -1        5        4        2        2        3        1
35        3        2       -1        5        5        1        5        2
36       -1        4       -1        3        1        4        5        4
37        3       -1        1        4        2        3        4       -1
38        1       -1        5       -1        1        2        3       -1
39       -1        1        1        1        1       -1        4        1

    Movie 9  Movie 10  ...  Movie 21  Movie 22  Movie 23  Movie 24  Movie 25  \
0         3        -1  ...         2         4        -1        -1         3
1         3         2  ...        -1         2        -1         3         1
2         5         2  ...         4        -1         5         4         5
3         2         3  ...        -1         2         2         2         2
4         5         2  ...         4         5         2        -1         3
5        -1         1  ...         5        -1         1         3        -1
6         2        -1  ...         2         5         1         3         4
7         1         2  ...        -1         3         1         3         2
8         2         5  ...         3         2         3        -1         1
9         1         2  ...         4         1         4         1         4
10        4        -1  ...         4        -1         3         4         1
11        5         3  ...         1         4         1         5         3
12        5         4  ...         2         3         2        -1         4
13       -1         4  ...         4         1         5         4         1
14        2         1  ...         2         2         5         1         3
15        4         4  ...         1         3         4        -1         4
16        1         1  ...         4         2         4         2         2
17        5         2  ...        -1         4         5         2         1
18        4         4  ...         2         3         1         2        -1
19        2        -1  ...        -1         2         4         1        -1
20        2         3  ...        -1         5         1         2         5
21        5         4  ...         4         5         1        -1        -1
22       -1         3  ...        -1        -1         3         1         5
23        1         2  ...         4         2         2         1         3
24        5         3  ...         2        -1         5         5         2
25        4         2  ...         5         3         1         5         2
26        3        -1  ...        -1         3         4         3        -1
27       -1         1  ...         1         3         2         1         4
28        3         3  ...         3        -1         3         5         5
29        3         1  ...         4         5         1         1         4
30        4         1  ...         5         4         4         3         5
31        4        -1  ...         5         2        -1         2         3
32        3         3  ...         2         1         5         5         2
33        1         5  ...         3         3         4        -1         3
34        1         5  ...         5         1         2         1         5
35        1         5  ...        -1         2         4         3         4
36        3         3  ...         3         3        -1         5        -1
37        5         3  ...         5         4         3        -1         1
38        2         5  ...         4         2         5         2         3
39       -1         3  ...         3         5         4         2         3

    Movie 26  Movie 27  Movie 28  Movie 29  Movie 30
0          4        -1         2         4         1
1          5        -1         5         2         2
2          1         2         1        -1         3
3          5         3         2         5         5
4          5         1        -1         5        -1
5          4         4         5         1         2
6         -1         4         3         1         4
7          1         4        -1         1         3
8          4         3         1         5         3
9          5         2         3        -1         1
10         2         4         2         5         1
11         5         4         3         5         5
12         3        -1         5         5         4
13        -1         3         1         5         3
14         4        -1        -1         5         4
15         4         4         2         4         4
16        -1         5         4         5         3
17         1         2         1        -1         4
18         2         5         1         2         1
19         2         2         3         3         4
20         5         4         4         2        -1
21         5         2         2         5        -1
22        -1         1         5         3         5
23         2         5         2         5         4
24        -1         1         3         1         2
25        -1         2         2         4        -1
26         3         2         3         2         5
27         3         2         4         2         1
28         5         4        -1         5        -1
29         5         3         1         3         5
30         2         2         4         4        -1
31         2         1         3         1        -1
32        -1         2         1         4         2
33         1         5         2         2         5
34         5         1        -1         5         5
35         5         2         1         3         4
36         5         2         3         5        -1
37         4         3        -1        -1         4
38         1         2         1         2         1
39         4         5         5         3         2

[40 rows x 30 columns]

In [85]:
tr_data = data.transpose()
#неоцененные фильмы
not_rated_movies = tr_data[tr_data[my_user_number] == no_rate].index
print(tr_data)
print(not_rated_movies)

          0   1   2   3   4   5   6   7   8   9   ...  30  31  32  33  34  35  \
Movie 1   -1   4   4   5   4   2   4  -1   1   5  ...   3   5   5  -1   4   3
Movie 2    4   5   2  -1   3  -1   1   5   2  -1  ...   5   4   3   5  -1   2
Movie 3    1   2   5   2   3   3   4   5   3   1  ...   4   5   4  -1   5  -1
Movie 4    5   3   4  -1   3   3   4   3   1  -1  ...   5   4   4  -1   4   5
Movie 5   -1   3   1  -1   5   3   1   3   5   3  ...   1   1   2   1   2   5
Movie 6   -1   4   5   2   3   3   4   3   3   3  ...   3   5   1  -1   2   1
Movie 7   -1  -1  -1   4   3   4   5   3   3   4  ...   3   5   3   5   3   5
Movie 8    1   5   3   3   4   2   2   3   1   1  ...   3   4   1   1   1   2
Movie 9    3   3   5   2   5  -1   2   1   2   1  ...   4   4   3   1   1   1
Movie 10  -1   2   2   3   2   1  -1   2   5   2  ...   1  -1   3   5   5   5
Movie 11   5   2   1  -1   3   5   4  -1   1  -1  ...   2   4   5   3  -1   2
Movie 12   5  -1  -1  -1   2   5  -1   5   2   5  ...   3   1   4   2   2   4
Movie 13   1   5   1  -1  -1   5   3  -1   3   5  ...  -1   1   2   2   5   3
Movie 14   3   5   1  -1   5   3   2   5   4   1  ...   4   1  -1   2   4   4
Movie 15   3   4   1  -1   3   2   3   5  -1  -1  ...   2   1  -1   5  -1   3
Movie 16   3   1   1   5   2   5   1   4  -1   3  ...   1   1   1   3   2  -1
Movie 17  -1  -1   3   3   2   1  -1   4   4   2  ...  -1   2   1   4  -1  -1
Movie 18   4   2   3   3   3   4  -1  -1  -1   3  ...   1   5   4   3   3  -1
Movie 19   2   4   3   3   1   3   2   5   5   3  ...   3   5  -1  -1  -1   2
Movie 20   2   5  -1   3   5  -1   3   5   3   1  ...   2   4   2   3  -1  -1
Movie 21   2  -1   4  -1   4   5   2  -1   3   4  ...   5   5   2   3   5  -1
Movie 22   4   2  -1   2   5  -1   5   3   2   1  ...   4   2   1   3   1   2
Movie 23  -1  -1   5   2   2   1   1   1   3   4  ...   4  -1   5   4   2   4
Movie 24  -1   3   4   2  -1   3   3   3  -1   1  ...   3   2   5  -1   1   3
Movie 25   3   1   5   2   3  -1   4   2   1   4  ...   5   3   2   3   5   4
Movie 26   4   5   1   5   5   4  -1   1   4   5  ...   2   2  -1   1   5   5
Movie 27  -1  -1   2   3   1   4   4   4   3   2  ...   2   1   2   5   1   2
Movie 28   2   5   1   2  -1   5   3  -1   1   3  ...   4   3   1   2  -1   1
Movie 29   4   2  -1   5   5   1   1   1   5  -1  ...   4   1   4   2   5   3
Movie 30   1   2   3   5  -1   2   4   3   3   1  ...  -1  -1   2   5   5   4

          36  37  38  39
Movie 1   -1   3   1  -1
Movie 2    4  -1  -1   1
Movie 3   -1   1   5   1
Movie 4    3   4  -1   1
Movie 5    1   2   1   1
Movie 6    4   3   2  -1
Movie 7    5   4   3   4
Movie 8    4  -1  -1   1
Movie 9    3   5   2  -1
Movie 10   3   3   5   3
Movie 11   1   3   3   2
Movie 12   1  -1   1   3
Movie 13  -1   3   5   5
Movie 14   4   2  -1   3
Movie 15   5   4  -1   4
Movie 16   4   3   4   2
Movie 17   3   1   1   5
Movie 18   2   4   4   4
Movie 19   4   2   3   2
Movie 20   1   1   4   2
Movie 21   3   5   4   3
Movie 22   3   4   2   5
Movie 23  -1   3   5   4
Movie 24   5  -1   2   2
Movie 25  -1   1   3   3
Movie 26   5   4   1   4
Movie 27   2   3   2   5
Movie 28   3  -1   1   5
Movie 29   5  -1   2   3
Movie 30  -1   4   1   2

[30 rows x 40 columns]
Index(['Movie 2', 'Movie 5', 'Movie 6', 'Movie 8', 'Movie 10', 'Movie 17',
       'Movie 21', 'Movie 25'],
      dtype='object')

In [86]:
#поиск sim
sims = {}
for col in tr_data:
    if(col == my_user_number):
        continue
    two_users_rates = data.transpose()[[col, my_user_number]]
    two_users_rates = two_users_rates[(two_users_rates[col] != no_rate) & (two_users_rates[my_user_number] != no_rate)]
    numerator = 0
    u_sum = 0
    v_sum = 0
    denominator = 0
    for i in range(0, two_users_rates.shape[0]):
        u = two_users_rates.iloc[i][col]
        v = two_users_rates.iloc[i][my_user_number]
        numerator += u * v
        u_sum += u ** 2
        v_sum += v ** 2
    denominator = math.sqrt(u_sum) * math.sqrt(v_sum)
    sim = round(numerator / denominator, 3)
    sims[col] = sim
sims = dict(sorted(sims.items(), key = lambda x: x[1], reverse = True))
max_sims = dict(list(sims.items())[:4])
print(max_sims)

{16: 0.899, 22: 0.888, 7: 0.88, 27: 0.879}

In [87]:
#поиск средних оценок пользователей
avg = {}
for col in tr_data:
    avg[col] = round(tr_data[col][tr_data[col] != no_rate].mean(), 3)
print(avg)

{0: 2.952, 1: 3.292, 2: 2.8, 3: 3.143, 4: 3.308, 5: 3.16, 6: 2.88, 7: 3.292, 8: 2.808, 9: 2.72, 10: 3.125, 11: 3.846, 12: 3.154, 13: 3.0, 14: 3.375, 15: 3.407, 16: 3.0, 17: 2.704, 18: 3.125, 19: 3.182, 20: 2.96, 21: 3.217, 22: 3.391, 23: 2.815, 24: 2.76, 25: 2.92, 26: 3.333, 27: 2.923, 28: 3.2, 29: 2.964, 30: 3.074, 31: 3.0, 32: 2.769, 33: 3.042, 34: 3.174, 35: 3.125, 36: 3.25, 37: 3.0, 38: 2.68, 39: 2.963}

In [88]:
#рассчёт оценок неоцененных фильмов
rates = {}
for movie in not_rated_movies:
    numer = 0
    denom = 0
    k = 1
    sim_sum_abs = 0
    for user in max_sims.keys():
        #если кто-то из ближайших 4х соседей не оценил фильм - берем следующего
        if (tr_data.loc[movie, user] == no_rate):
            continue
        sim_sum_abs += abs(max_sims[user])
        numer += max_sims[user] * (tr_data.loc[movie, user] - avg[user])
    rate = round(avg[my_user_number] + numer / sim_sum_abs, 3)
    rates[movie] = rate
print(rates)

{'Movie 2': 2.275, 'Movie 5': 3.785, 'Movie 6': 3.118, 'Movie 8': 3.982, 'Movie 10': 1.78, 'Movie 17': 3.783, 'Movie 21': 2.737, 'Movie 25': 3.278}

In [89]:
#ключ - фильм, который не посмотрел пользователь
#значение - список пользователей, которые посмотрели фильм в выходной дома
rec_movies = {}
for movie in not_rated_movies:
    home_viewers = df_place[df_place[movie] == home].index.tolist()
    weekend_movies = df_day[(df_day[movie] == saturday) | (df_day[movie] == sunday)].index.tolist()
    rec_movies[movie] = list(set(home_viewers) & set(weekend_movies))
print(rec_movies)

{'Movie 2': [33, 29, 17, 7], 'Movie 5': [1, 34, 11, 20, 28], 'Movie 6': [3, 28], 'Movie 8': [17, 12], 'Movie 10': [33, 29, 21], 'Movie 17': [8, 24], 'Movie 21': [27, 14], 'Movie 25': [28, 39]}

In [90]:
#поиск рекоммендуемого фильма
recs = {}
for movie in rec_movies.keys():
    avg_rate = 0
    for user in rec_movies[movie]:
        avg_rate += (avg[user] - tr_data.loc[movie, user]) * sims[user]
    if(len(rec_movies[movie]) != 0):
        avg_rate = round(avg_rate / len(rec_movies[movie]), 3)
        recs[movie] = avg_rate   
    else:
        recs[movie] = float('-inf')
print(recs)
rec_film = max(recs, key=recs.get)
print(rec_film)

{'Movie 2': -0.855, 'Movie 5': 0.583, 'Movie 6': 0.987, 'Movie 8': -1.217, 'Movie 10': -0.231, 'Movie 17': -0.585, 'Movie 21': 1.414, 'Movie 25': -0.745}
Movie 21

In [91]:
data ={}
result = json.dumps({'user': my_user_number + 1,'part_1': rates, '2': rec_film}, indent = 4)
result = {
    'user': my_user_number + 1,
    'part_1': rates,
    'part_2': rec_film
}
with open('result.json', 'w') as outfile:
    json.dump(result, outfile, indent = 4)
print(result)

{'user': 20, 'part_1': {'Movie 2': 2.275, 'Movie 5': 3.785, 'Movie 6': 3.118, 'Movie 8': 3.982, 'Movie 10': 1.78, 'Movie 17': 3.783, 'Movie 21': 2.737, 'Movie 25': 3.278}, 'part_2': 'Movie 21'}